.tooltip {
	position: absolute;
	background: var(--color-bg-300);
	filter: drop-shadow(var(--drop-shadow-xl));
	border-radius: var(--radius-md);

	display: flex;
	gap: --spacing(1);
	padding: --spacing(2);
	width: max-content;
	/* keep in sync with body left + right padding */
	max-width: calc(100vw - --spacing(8));
	z-index: 10;

	/* If need to remove overflow-x hidden on body, add these + inner wrapper element: */
	/* https://stackoverflow.com/questions/9933092/css-prevent-absolute-positioned-element-from-overflowing-body */
	/* right: 0; */
	/* overflow: hidden; */
}
