@import "./pallette.css";

:root {
	--font-serif: "Noto Serif", "Noto Serif Hebrew", sans-serif;
	--font-cursive: "Gloria Hallelujah", cursive;
	--spacing-inc: 0.25rem;

	--radius-xs: 0.125rem;
	--radius-sm: 0.25rem;
	--radius-md: 0.375rem;
	--radius-lg: 0.5rem;
	--radius-xl: 0.75rem;
	--radius-2xl: 1rem;
	--radius-3xl: 1.5rem;
	--radius-4xl: 2rem;

	--drop-shadow-xl: 0 9px 7px rgb(0 0 0 / 0.1);

	/* light */
	--color-fg: black;
	--color-bg-50: var(--color-yellow-50); /** oklch(98.7% 0.026 102.212) */
	--color-bg-100: var(--color-yellow-100);
	--color-bg-200: var(--color-yellow-200);
	--color-focus-100: var(--color-blue-200);
	--color-focus-200: var(--color-blue-400);

	--color-primary: var(--color-orange-400);
	--color-secondary: var(--color-violet-400);

	font-size: 20px;
	padding: --spacing(2) --spacing(4);
	padding-top: 0;
	background: var(--color-bg-50);
	color: var(--color-fg);
	width: 100%;
	margin: auto;
}

.dark {
	--color-fg: white;
	--color-bg-50: var(--color-yellow-900);
	--color-bg-100: var(--color-yellow-800);
	--color-bg-200: var(--color-yellow-700);
	--color-focus-100: var(--color-blue-500);
	--color-focus-200: var(--color-blue-600);

	--color-primary: var(--color-orange-500);
	--color-secondary: var(--color-violet-500);
}

@media (prefers-color-scheme: dark) {
	.system { @apply .dark; }
}

/* .sr-only { */
/* 	position:absolute; */
/* 	left:-10000px; */
/* 	top:auto; */
/* 	width:1px; */
/* 	height:1px; */
/* 	overflow:hidden; */
/* } */

header {
	display: flex;
	gap: --spacing(4);
	padding: --spacing(2);
	justify-content: space-between;
	align-items: center;
	position: sticky;
	transition: top;
	top: 0;
	background: var(--color-bg-50);
	/* TODO: find way to use opacity */
	/* biome-ignore lint/suspicious/noDuplicateProperties: if has support */
	background: color-mix(in srgb, var(--color-bg-50), transparent 4%);
	width: 100%;

	& > .logo {
		height: 35px;
		width: 80px;
		font-family: var(--font-cursive);
		font-size: 1.1rem;
		color: var(--color-primary);
		text-shadow: 0px 1px 2px rgb(0 0 0 / 0.1), 0px 3px 2px rgb(0 0 0 / 0.1), 0px 4px 8px rgb(0 0 0 / 0.1);
		line-height: 2;

		&::before {
			content: "nerd.Bible";
		}
	}

	& > .search {
		flex: 1;
		background: var(--color-bg-100);
		padding: --spacing(2);
		border-radius: var(--radius-md);
		display: flex;
		align-items: center;

		& input {
			outline-offset: --spacing(2);
			border-radius: var(--radius-sm);
			width: 100%;
			padding: 0 --spacing(2);
		}
	}
}

main {
	margin: --spacing(4) auto;
	font-family: var(--font-serif);
	line-height: 1.5;
}

.popover {
	position: absolute;
	display: none;
	background: var(--color-bg-200);
	filter: drop-shadow(var(--drop-shadow-xl));
	border-radius: var(--radius-md);
}

/** Inspiration: https://codepen.io/podenemus/pen/eJqwBL?editors=1100 */
@function --pageAnimation(--amount) {
	/* biome-ignore lint/correctness/noUnknownProperty: new syntax */
	result: pageTurn 1s cubic-bezier(0, .39, 1, .68) --amount infinite;
}
.loading {
	text-align: center;
}
.book {
	border: 4px solid var(--color-fg);
	border-radius: var(--radius-md);
	aspect-ratio: 14 / 9.5;
	max-height: calc(100vh - 10rem);
	display: flex;
	align-items: center;
	justify-content: center;
	perspective: 1150px;

	& .page {
		width: 46%;
		height: 96%;
		border: 2px solid var(--color-fg);
		border-radius: var(--radius-md);

		&.turning {
			position: absolute;
			right: 4%;
			top: 2%;
			transform-style: preserve-3d;
			transform-origin: left center;
			&:nth-child(1) { animation: --pageAnimation(1.6s); }
			&:nth-child(2) { animation: --pageAnimation(1.45s); }
			&:nth-child(3) { animation: --pageAnimation(1.2s); }
		}
	}
}

@keyframes pageTurn {
  0% { transform: rotateY( 0deg); }
  40% {
    background: var(--color-bg-50);
    transform: rotateY(-180deg);
  }
  100% {
    background: var(--color-bg-50);
    transform: rotateY(-180deg);
  }
}
