/* @import "./forms.css"; */
header {
	font-size: 20px;
	display: flex;
	gap: --spacing(4);
	padding: --spacing(2);
	justify-content: space-between;
	align-items: center;
	position: sticky;
	transition: top;
	top: 0;
	background: var(--color-bg-50);
	/* TODO: find way to use opacity */
	/* biome-ignore lint/suspicious/noDuplicateProperties: if has support */
	background: color-mix(in srgb, var(--color-bg-50), transparent 4%);
	width: 100%;

	& > .logo {
		height: 35px;
		width: 80px;
		font-family: var(--font-cursive);
		font-size: 1.1rem;
		color: var(--color-primary);
		text-shadow: 0px 1px 2px rgb(0 0 0 / 0.1), 0px 3px 2px rgb(0 0 0 / 0.1), 0px 4px 8px rgb(0 0 0 / 0.1);
		line-height: 2;

		&::before {
			content: "nerd.Bible";
		}
	}

	& > .search {
		flex: 1;
		background: var(--color-bg-100);
		padding: --spacing(2);
		border-radius: var(--radius-md);
		display: flex;
		align-items: center;

		& input {
			outline-offset: --spacing(2);
			border-radius: var(--radius-sm);
			width: 100%;
			padding: 0 --spacing(2);
		}
	}

	& > .options {
		display: flex;
		justify-content: end;

		& .content {
			padding: --spacing(2) 0;
			width: --spacing(100);
			user-select: none;
			border-radius: var(--radius-md);

			& > * {
				width: 100%;
				padding: --spacing(1) --spacing(4);
			}

			& > a {
				display: block;
				&:hover {
					background: var(--color-bg-100);
				}
			}
		}

		& label {
			display: flex;
			justify-content: space-between;
		}

		& input, & select {
			width: 100px;
		}
	}
}

.button {
	padding: --spacing(2);
	border-radius: var(--radius-sm);
	--color-hover: var(--color-bg-100);
	transition: background 0.2s ease-out;
	&:hover {
		background: var(--color-hover);
	}
}

.dropdown {
	& > summary {
		@apply .button;
	}
	&:open > summary {
		background: var(--color-hover);
	}
	& > summary {
		list-style: none;
	}
	& > .content {
		position: absolute;
		background: var(--color-bg-200);
		filter: drop-shadow(var(--drop-shadow-xl));
	}
}

main {
	margin: auto;
	font-family: var(--font-serif);
	line-height: 1.5;
}

#wordHover {
	position: absolute;
	visibility: hidden;
	background: var(--color-bg-200);
}
