@import "tailwindcss";
@import "./fonts.css";

@theme {
	--font-sans: "Noto Sans", "Noto Sans Hebrew", sans;
	--font-serif: "Noto Serif", "Noto Serif Hebrew", sans-serif;
	--default-font-family: var(--font-serif);
}

