@import "tailwindcss";
@import "./fonts.css";
@plugin "@iconify/tailwind4" {
	scale: 1.35;
};
@plugin "../plugin-color-mix";

@theme inline {
	--font-sans: "Noto Sans", "Noto Sans Hebrew", sans;
	--font-serif: "Noto Serif", "Noto Serif Hebrew", sans-serif;
	--font-cursive: "Gloria Hallelujah", cursive;
	--default-font-family: var(--font-sans);
	--breakpoint-xs: 24rem;
	--breakpoint-sm: 32rem;
}
@theme {
	--color-primary: var(--color-orange-500);
	--color-focus: var(--outline-blue-500);
}
@theme /* light */ {
	--color-bg: var(--color-yellow-50);
	--color-fg: black;
	--color-lighten: white;
}
@utility dark {
	--color-bg: var(--color-yellow-950);
	--color-fg: white;
	--color-lighten: black;
}
@media (prefers-color-scheme: dark) {
	:root:not(.light) {
		@apply dark;
	}
}

html {
	font-size: 20px;
	@apply bg-bg text-fg leading-none;
}

.button {
	@apply cursor-pointer;
	@apply hover:bg-mix-[fg/10];

	:hover {
		@apply bg-amber-50;
	}
	.selected {
		@apply bg-focus;
	}
}

button {
	@apply button;
}
