@media only screen and (max-width: 20rem) {
	.root {
		padding: 0;
	}
	header {
		padding: 0;
		gap: --spacing(1);
		& > .logo {
			width: 20px;
			&::before {
				content: "nB"
			}
		}
		& > .search > div {
			display: none;
		}
	}
}
/* @media only screen and (max-width: 48rem) {} */
/* @media only screen and (max-width: 64rem) {} */
/* @media only screen and (max-width: 80rem) {} */
/* @media only screen and (max-width: 96rem) {} */
