@import "./pallette.css";

@function --spacing(--amount) {
	/* biome-ignore lint/correctness/noUnknownProperty: new syntax */
	result: calc(var(--spacing-inc) * --amount);
}

:root {
	--font-serif: "Noto Serif", "Noto Serif Hebrew", sans-serif;
	--font-cursive: "Gloria Hallelujah", cursive;
	--spacing-inc: 0.25rem;

	--radius-xs: 0.125rem;
	--radius-sm: 0.25rem;
	--radius-md: 0.375rem;
	--radius-lg: 0.5rem;
	--radius-xl: 0.75rem;
	--radius-2xl: 1rem;
	--radius-3xl: 1.5rem;
	--radius-4xl: 2rem;

	--drop-shadow-xl: 0 9px 7px rgb(0 0 0 / 0.1);

	/* light */
	--color-fg: black;
	--color-bg-50: var(--color-yellow-50); /** oklch(98.7% 0.026 102.212) */
	--color-bg-100: var(--color-yellow-100);
	--color-bg-200: var(--color-yellow-200);
	--color-focus-100: var(--color-blue-200);
	--color-focus-200: var(--color-blue-400);

	--color-primary: var(--color-orange-400);
	--color-secondary: var(--color-violet-400);

	padding: --spacing(2) --spacing(4);
	padding-top: 0;
	background: var(--color-bg-50);
	color: var(--color-fg);
	width: 100%;
	margin: auto;
}

.dark {
	--color-fg: white;
	--color-bg-50: var(--color-yellow-900);
	--color-bg-100: var(--color-yellow-800);
	--color-bg-200: var(--color-yellow-700);
	--color-focus-100: var(--color-blue-500);
	--color-focus-200: var(--color-blue-600);

	--color-primary: var(--color-orange-500);
	--color-secondary: var(--color-violet-500);
}

@media (prefers-color-scheme: dark) {
	.system { @apply .dark; }
}

.sr-only {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}
