nb-dropdown {
	position: relative;
	translate: 0 0;

	& > .content {
		position: absolute;
		border-radius: var(--radius-md);
		top: auto;
		/** TODO: CSS logical properties polyfill */
		inset-inline-end: 0;
		display: none;
		background: var(--color-bg-200);
	}

	&[open] > .content {
		display: initial;
	}
}
