<form class="popover">
	<label>
		<span data-l10n-id="Theme"></span>
		<select id="theme">
			<option value="system" data-l10n-id="System"></option>
			<option value="dark" data-l10n-id="Dark"></option>
			<option value="light" data-l10n-id="Light"></option>
		</select>
	</label>
	<label>
		<span data-l10n-id="Font-size"></span>
		<input id="fontSize" type="range" min="8" max="48" step="2">
	</label>
	<label>
		<span data-l10n-id="Column-width"></span>
		<input id="columnWidth" type="range" min="100" max="2000" step="20">
	</label>
	<label>
		<span data-l10n-id="Language"></span>
		<select id="locale"></select>
	</label>
	<a href="/settings">
		<span data-l10n-id="Settings"></span>
		<span id="version"></span>
	</a>
</form>
<style>
nb-quick-settings > form {
	padding: --spacing(2) 0;
	user-select: none;
	width: --spacing(84);
	line-height: 2;

	& > * {
		width: 100%;
		padding: --spacing(1) --spacing(4);
	}

	& > a {
		display: block;
		&:hover {
			background: var(--color-bg-100);
		}
	}

	& > label {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	& input,
	& select {
		width: --spacing(32);
		padding: --spacing(2);
	}

	& select {
		background: var(--color-bg-300);
	}
}
</style>
<script type="module">
	customElement = class Settings extends customElement {
		constructor() {
			super();
			this.querySelector("#version").textContent = `v${APP_VERSION}`;
		}
	};
</script>
<l10 lang="en-US">
Theme = Theme
System = System
Dark = Dark
Light = Light
Font-size = Font size
Column-width = Column width
Language = Language
Settings = Settings
</l10n>
