<form class="popover">
	<label>
		<span $l10n="Theme"></span>
		<select id="theme">
			<option value="system" $l10n="System"></option>
			<option value="dark" $l10n="Dark"></option>
			<option value="light" $l10n="Light"></option>
		</select>
	</label>
	<label>
		<span $l10n="Font-size"></span>
		<input id="fontSize" type="range" min="8" max="48" step="2" $value="fontSize" @input="setFontSize">
	</label>
	<label>
		<span $l10n="Column-width"></span>
		<input id="columnWidth" type="range" min="100" max="2000" step="20">
	</label>
	<label>
		<span $l10n="Language"></span>
		<select id="locale" @input="onSelect"></select>
	</label>
	<a href="/settings">
		<span $l10n="Settings"></span>
		<span id="version"></span>
	</a>
</form>
<style>
nb-quick-settings > form {
	padding: --spacing(2) 0;
	user-select: none;
	width: --spacing(84);
	line-height: 2;

	& > * {
		width: 100%;
		padding: --spacing(1) --spacing(4);
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	& > a:hover {
		background: var(--color-bg-100);
	}

	select {
		width: --spacing(32);
		padding: --spacing(2);
		background: var(--color-bg-300);
	}

	input {
		padding: --spacing(2) 0;
	}
}
</style>
<script type="module">
	import { effect } from "alien-signals";
	import { locale, locales, persistentSignal } from "../l10n";

	const theme = persistentSignal("theme", "system");
	effect(() => {
		document.documentElement.className = theme();
	});

	const fontSize = persistentSignal("fontSize", "20");
	effect(() => {
		document.querySelector("main").style.fontSize = `${fontSize()}px`
	});

	const columnWidth = persistentSignal("columnWidth", "600");
	effect(() => {
		document.querySelector("main").style.maxWidth = `${columnWidth()}px`
	});

	customElement = class Settings extends customElement {
		constructor() {
			super({
				theme, fontSize, columnWidth
			});
			this.querySelector("#version").textContent = `v${APP_VERSION}`;

			const select = this.querySelector("#locale");
			for (const k in locales) {
				const opt = document.createElement("option");
				opt.value = k;
				opt.innerText = locales[k].name;
				select.appendChild(opt);
			}
			effect(() => select.value = locale());
		}

		onSelect(ev) {
			locale(ev.currentTarget.value);
		}

		setFontSize(ev) {
			fontSize(ev.currentTarget.value.toString());
		}
	};
</script>
<l10n lang="en-US">
Theme = Theme
System = System
Dark = Dark
Light = Light
Font-size = Font size
Column-width = Column width
Language = Language
Settings = Settings
</l10n>
<l10n lang="es">
Theme = Tema
System = Sistema
Dark = Oscura
Light = Ligera
Font-size = Tamaño de fuente
Column-width = Ancho de columna
Language = Idioma
Settings = Ajustes
</l10n>
