/* select { */
/* 	background: inherit; */
/* } */
/* option { */
/* 	background: inherit; */
/* } */

@utility thumb-focus {
	outline-offset: --spacing(4);
	outline-width: 4px;
}
@utility track {
	background: var(--color-secondary);
	border-radius: var(--radius-md);
	height: 0.5rem;
}
@utility thumb {
	background: var(--color-primary);
	border: --spacing(3);
	border-radius: var(--radius-lg);
	height: 1rem;
	width: 1rem;
}
input[type="range"] {
	appearance: none;
	background: transparent;
	cursor: pointer;

	&:focus {
		/* outline: none; */
		&::-webkit-slider-thumb {
			@apply thumb-focus;
		}
		&::-moz-range-thumb {
			@apply thumb-focus;
		}
	}

	&::-webkit-slider-runnable-track {
		@apply track;
	}
	&::-moz-range-track {
		@apply track;
	}

	&::-webkit-slider-thumb {
		appearance: none;
		margin-top: -0.25rem;
		@apply thumb;
	}
	&::-moz-range-thumb {
		border: none;
		@apply thumb;
	}
}

/* div[role="radiogroup"] > label:not(:first-of-type):before { */
/* 	position: absolute; */
/* 	inset: 0.75rem 0; */
/* 	width: 1px; */
/* 	content: ""; */
/* 	@apply bg-fg; */
/* 	opacity: 0.5; */
/* } */
