@import "@nerd-bible/fonts/dist/faces.css";
@import "./pallette.css";
@import "./theme.css";
@import "./reset.css";

:root {
	font-family: var(--font-sans);
	background: var(--color-bg-50);
	color: var(--color-fg-50);

	/* for sticky sidebars and scroll margin */
	--header-height: calc(1rem + --spacing(14));
}

:root, .scrollable {
	overflow: auto;
	scrollbar-color: var(--color-fg-400) var(--color-bg-100);
	scroll-behavior: smooth;

	[id] {
		scroll-margin-top: var(--header-height);
	}
}

body {
	display: flex;
}

noscript > h1 {
	display: block;
}
