@import "@nerd-bible/fonts/dist/faces.css";
@import "./pallette.css";
@import "./theme.css";
@import "./reset.css";

:root {
	font-family: var(--font-sans);
	background: var(--color-bg-50);
	color: var(--color-fg-50);
	scrollbar-color: var(--color-fg-50) var(--color-bg-100);
}

body {
	display: grid;
	& > *:not(.tooltip) {
		display: grid;
		grid-template-columns: subgrid;
		grid-column: 1 / span all;
	}
	justify-content: center;
	grid-template-columns: auto --spacing(8) auto --spacing(8) auto;
	grid-template-rows: calc(1lh + --spacing(4)) auto;
	margin: --spacing(4);
	min-height: 100svh;
	/* avoid tooltips scrolling */
	/* overflow-x: hidden; */
}

noscript > h1 {
	display: block;
}
