@import "./pallette.css";
@import "./theme.css";
@import "./preflight.css";

:root {
	font-family: var(--font-sans);
	padding: --spacing(2) --spacing(4);
	padding-top: 0;
	background: var(--color-bg-50);
	color: var(--color-fg);
	width: 100%;
	margin: auto;
}

main {
	padding: --spacing(4) 0;
	margin: auto;
	max-width: 80%;
}

noscript > h1 {
	display: block;
	font-size: 32px;
}

#popover {
	position: absolute;
	display: none;
	background: var(--color-bg-200);
	filter: drop-shadow(var(--drop-shadow-xl));
	border-radius: var(--radius-md);
}

nb-dropdown:not(:defined) > div {
	display: none;
}
