@import "./pallette.css";
@import "./theme.css";
@import "./preflight.css";

:root {
	font-family: var(--font-sans);
	background: var(--color-bg-50);
	color: var(--color-fg);
}

body {
	display: flex;
	flex-direction: column;
	padding: 0 --spacing(2) --spacing(4) --spacing(2);
	width: 100%;
}

noscript > h1 {
	display: block;
	font-size: 32px;
}
