:root {
	--font-sans: "Noto Sans", "Noto Sans Hebrew", sans;
	--font-serif: "Noto Serif", "Noto Serif Hebrew", sans-serif;
	--font-cursive: "Gloria Hallelujah", cursive;
	--spacing-inc: 0.25rem;

	--radius-xs: 0.125em;
	--radius-sm: 0.25em;
	--radius-md: 0.375em;
	--radius-lg: 0.5em;
	--radius-xl: 0.75em;
	--radius-2xl: 1em;
	--radius-3xl: 1.5em;
	--radius-4xl: 2em;

	--outline-width: 0.15rem;
	--outline-offset: 0.05rem;

	--drop-shadow-xl: 0 9px 7px rgb(0 0 0 / 0.1);

	--layout-padding-x: calc(max(0px, calc((100vw - 1600px) / 2)) + --spacing(4));
	/* for sticky sidebars and scroll margin */
	--header-height: calc(1rem + --spacing(12));

	/* light */
	--color-fg-50: var(--color-gray-950);
	--color-fg-100: var(--color-gray-900);
	--color-fg-200: var(--color-gray-800);
	--color-fg-300: var(--color-gray-700);
	--color-fg-400: var(--color-gray-600);
	--color-fg-500: var(--color-gray-500);
	--color-fg-600: var(--color-gray-400);
	--color-fg-700: var(--color-gray-300);
	--color-fg-800: var(--color-gray-200);
	--color-fg-900: var(--color-gray-100);
	--color-fg-950: var(--color-gray-50);
	--color-bg-50: var(--color-yellow-50);
	--color-bg-100: var(--color-yellow-100);
	--color-bg-200: var(--color-yellow-200);
	--color-bg-300: var(--color-yellow-300);
	--color-bg-400: var(--color-yellow-400);
	--color-bg-500: var(--color-yellow-500);
	--color-bg-600: var(--color-yellow-600);
	--color-bg-700: var(--color-yellow-700);
	--color-bg-800: var(--color-yellow-800);
	--color-bg-900: var(--color-yellow-900);
	--color-bg-950: var(--color-yellow-950);

	--color-focus-50: var(--color-blue-50);
	--color-focus-100: var(--color-blue-200);
	--color-focus-200: var(--color-blue-400);
	--color-link: var(--color-blue-500);
	--color-primary: var(--color-orange-400);
	--color-secondary: var(--color-violet-400);
}

.dark {
	--color-fg-50: var(--color-gray-50);
	--color-fg-200: var(--color-gray-200);
	--color-fg-300: var(--color-gray-300);
	--color-fg-400: var(--color-gray-400);
	--color-fg-500: var(--color-gray-500);
	--color-fg-600: var(--color-gray-600);
	--color-fg-700: var(--color-gray-700);
	--color-fg-800: var(--color-gray-800);
	--color-fg-900: var(--color-gray-900);
	--color-fg-950: var(--color-gray-950);
	--color-bg-50: var(--color-yellow-950);
	--color-bg-100: var(--color-yellow-900);
	--color-bg-200: var(--color-yellow-800);
	--color-bg-300: var(--color-yellow-700);
	--color-bg-400: var(--color-yellow-600);
	--color-bg-500: var(--color-yellow-500);
	--color-bg-600: var(--color-yellow-400);
	--color-bg-700: var(--color-yellow-300);
	--color-bg-800: var(--color-yellow-200);
	--color-bg-900: var(--color-yellow-100);
	--color-bg-950: var(--color-yellow-50);

	--color-focus-50: var(--color-blue-500);
	--color-focus-100: var(--color-blue-400);
	--color-focus-200: var(--color-blue-300);
	--color-link: var(--color-blue-400);
	--color-primary: var(--color-orange-500);
	--color-secondary: var(--color-violet-600);
}

@media (prefers-color-scheme: dark) {
	.system {
		@apply .dark;
	}
}

@media (prefers-reduced-motion: no-preference) {
	* {
		transition: background 200ms linear;
	}
}

/* .sr-only { */
/* 	position:absolute; */
/* 	left:-10000px; */
/* 	top:auto; */
/* 	width:1px; */
/* 	height:1px; */
/* 	overflow:hidden; */
/* } */
