@import "./pallette.css";

:root {
	--font-sans: "Noto Sans", "Noto Sans Hebrew", sans;
	--font-serif: "Noto Serif", "Noto Serif Hebrew", sans-serif;
	--font-cursive: "Gloria Hallelujah", cursive;
	--spacing-inc: 0.25rem;

	--radius-xs: 0.125rem;
	--radius-sm: 0.25rem;
	--radius-md: 0.375rem;
	--radius-lg: 0.5rem;
	--radius-xl: 0.75rem;
	--radius-2xl: 1rem;
	--radius-3xl: 1.5rem;
	--radius-4xl: 2rem;

	--drop-shadow-xl: 0 9px 7px rgb(0 0 0 / 0.1);

	/* light */
	--color-fg: black;
	--color-bg-50: var(--color-yellow-50); /** oklch(98.7% 0.026 102.212) */
	--color-bg-100: var(--color-yellow-100);
	--color-bg-200: var(--color-yellow-200);
	--color-focus-100: var(--color-blue-200);
	--color-focus-200: var(--color-blue-400);

	--color-primary: var(--color-orange-400);
	--color-secondary: var(--color-violet-400);
	--header-height: 2rem;

	font-family: var(--font-sans);
	font-size: 16px;
	padding: --spacing(2) --spacing(4);
	padding-top: 0;
	background: var(--color-bg-50);
	color: var(--color-fg);
	width: 100%;
	margin: auto;
}

.dark {
	--color-fg: white;
	--color-bg-50: var(--color-yellow-900);
	--color-bg-100: var(--color-yellow-800);
	--color-bg-200: var(--color-yellow-700);
	--color-focus-100: var(--color-blue-500);
	--color-focus-200: var(--color-blue-600);

	--color-primary: var(--color-orange-500);
	--color-secondary: var(--color-violet-500);
}

@media (prefers-color-scheme: dark) {
	.system {
		@apply .dark;
	}
}

/* .sr-only { */
/* 	position:absolute; */
/* 	left:-10000px; */
/* 	top:auto; */
/* 	width:1px; */
/* 	height:1px; */
/* 	overflow:hidden; */
/* } */

header {
	display: flex;
	gap: --spacing(4);
	margin: --spacing(2);
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	transition: top;
	top: 0;
	background: var(--color-bg-50);
	background: color-mix(in srgb, var(--color-bg-50), transparent 4%);
	height: var(--header-height);

	& > .logo {
		height: 35px;
		width: 40px;
		background-image: url(../../src/logo.svg);
		background-size: cover;
	}

	& > .search {
		flex: 1;
		background: var(--color-bg-100);
		padding: --spacing(2);
		border-radius: var(--radius-md);
		display: flex;
		align-items: center;

		& input {
			outline-offset: --spacing(2);
			border-radius: var(--radius-sm);
			width: 100%;
			padding: 0 --spacing(2);
		}
	}
}

button {
	padding: --spacing(2);
	border-radius: var(--radius-md);
	display: flex;
	align-items: center;
	background: var(--color-bg-100);

	&:hover,
	&.active {
		background: var(--color-bg-200);
	}
}

main {
	margin: --spacing(4) auto;
	font-family: var(--font-serif);
	line-height: 1.5;
}

.popover {
	position: absolute;
	display: none;
	background: var(--color-bg-200);
	filter: drop-shadow(var(--drop-shadow-xl));
	border-radius: var(--radius-md);
}

/** Inspiration: https://codepen.io/podenemus/pen/eJqwBL?editors=1100 */
@function --pageAnimation(--amount) {
	/* biome-ignore lint/correctness/noUnknownProperty: new syntax */
	result: pageTurn 1s cubic-bezier(0, 0.39, 1, 0.68) --amount infinite;
}
.loading {
	text-align: center;
	animation: fadeIn 1.5s;
	max-width: 80%; /* or animation will overflow body */
	margin: 0 auto;
}
.book {
	border: 4px solid var(--color-fg);
	border-radius: var(--radius-md);
	aspect-ratio: 14 / 9.5;
	max-height: calc(100vh - var(--header-height));
	perspective: 1150px;

	& > .page {
		width: 46%;
		height: 96%;
		border: 2px solid var(--color-fg);
		border-radius: var(--radius-md);

		& > div {
			width: 100%;
			height: 100%;
			color: var(--color-gray-500);
			opacity: 50%;
		}

		&.turning {
			contain: content;
			position: absolute;
			right: 4%;
			top: 2%;
			transform-style: preserve-3d;
			transform-origin: left center;
			&:nth-child(1) {
				animation: --pageAnimation(0.6s);
			}
			&:nth-child(2) {
				animation: --pageAnimation(0.45s);
			}
			&:nth-child(3) {
				animation: --pageAnimation(0.2s);
			}
		}
	}
}

@keyframes fadeIn {
	0%,
	20% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes pageTurn {
	0% {
		transform: rotateY(0deg);
	}
	40% {
		background: var(--color-bg-50);
		transform: rotateY(-180deg);
	}
	100% {
		background: var(--color-bg-50);
		transform: rotateY(-180deg);
	}
}
